/* GLOBAL Stylesheets */
html,
body {
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
.editheader {
  color: #fcd344;
}
.todo {
  margin-left: 5px;
}
.title-top {
  margin-top: 20px;
}
/*Dark Mode Style */
.dark-mode-background {
  background-color: #181818;
  color: #fff;
  min-height: 100vh;
}

/*Light Mode style*/
.light-mode-background {
  background-color: #fff;
  color: #000;
  transition: background-color 0.25s ease-out;
}
