/* 
This Style it's only used for AddToDo class
*/

.createbox {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
}
/*Dark mode style*/
div.dark-mode-createbox {
  background-color: rgba(255, 255, 255, 0.1);
}

/*light mode style*/
div.light-mode-createbox {
  background-color: #fff;
}

button.addbtn {
  background-color: initial;
  border: none;
  padding: 0;
}
.btnCreate:hover {
  color: rgba(40, 167, 69, 0.7);
}
.addtodo {
  margin-left: 5px;
}
.file {
  display: flex;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #ddd;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #fcd344;
}

.toggle-container {
  display: flex;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}
