/* This style it's used to details */
.detailsDescription {
  width: 460px;
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: auto;
}
.date {
  margin-left: 5px;
  float: right;
}
/*Dark mode style*/
.dark-mode-modal-background {
  background-color: #212529;
  color: #fff;
}
input.dark-mode-input {
  background-color: #000;
  color: #fff;
}
input.dark-mode-input:hover {
  background-color: #000;
  color: #fff;
}
input.dark-mode-input:focus {
  background-color: #000;
  color: #fff;
}

textarea.dark-mode-textarea {
  background-color: #000;
  color: #fff;
}
textarea.dark-mode-textarea:hover {
  background-color: #000;
  color: #fff;
}
textarea.dark-mode-textarea:focus {
  background-color: #000;
  color: #fff;
}
.dark-mode-icon {
  color: #fff;
}
/*light mode style*/
.light-mode-modal-background {
  background-color: #fff;
  color: #000;
  transition: background-color 0.25s ease-out;
}
input.light-mode-input {
  background-color: #fff;
  color: #000;
}
input.light-mode-input:hover {
  background-color: #fff;
  color: #000;
}
input.light-mode-input:focus {
  background-color: #fff;
  color: #000;
}

textarea.light-mode-textarea {
  background-color: #fff;
  color: #000;
}
textarea.light-mode-textarea:hover {
  background-color: #fff;
  color: #000;
}
textarea.light-mode-textarea:focus {
  background-color: #fff;
  color: #000;
}
.light-mode-icon {
  color: #17a2b8;
}
