/*This style is used to Todo*/

.btnDelete {
  margin-left: 2px;
  margin-right: 2px;
}

.btnEdit {
  margin-left: 2px;
  margin-right: 2px;
}

.btnReminder {
  width: 32px;
  height: 32px;
  border: none;
  box-shadow: none;
}

.todoContainer {
  border: solid 1px grey;
  border-radius: 10px;
  margin-bottom: 4px;
  margin-right: -10px;
  margin-left: -13px;
  padding: 10px;
}

btn-primary {
  background-color: white;
}

.datepicker {
  width: 90px;
  border: none;
  background-color: transparent;
}

.des {
  text-align: center;
}
.label {
  font-weight: bold;
}
.right-side {
  float: right;
  font-size: 12px;
  text-align: center;
}
.down {
  display: block;
}
.reminder {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 5px 5px;
  width: 150px;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.bell {
  margin-right: 10px;
  margin-left: 5px;
}
.click {
  cursor: pointer;
}
.doneSwitch {
  margin-left: 5px;
}
.done {
  display: -webkit-inline-box;
  float: right;
}
.todoimg {
  cursor: pointer;
}

.card {
  width: 18rem;
  margin-bottom: 10px;
  height: auto;
  min-height: 150px;
}

/*Dark Mode style*/

.dark-mode-text {
  color: #fff;
}

div.dark-mode-card {
  background-color: rgba(255, 255, 255, 0.1);
}
/*Light Mode style*/
.light-mode-text {
  color: #181818;
}
.div.light-mode-card {
  background-color: #fff;
}
.icon:hover,
.icon:focus,
.icon:active {
  -webkit-animation-name: buzz-on-hover;
  animation-name: buzz-on-hover;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
@-webkit-keyframes buzz-on-hover {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes buzz-on-hover {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
