.offlineStyle {
  text-align: center;
  color: #fff;
  padding: 15px 15px;
  background-color: #e74c3c;
}

/*Dark mode style*/
.dark-mode-error {
  background-color: rgba(255, 255, 255, 0.1);
}

/*light mode style*/
.light-mode-error {
  background-color: #fff;
}
